.App {
  text-align: center;
  background-color: #83C6DE;
  width: 100%!important;
  height: 100%!important;
  margin: 0;
  font-family: Arial;
  max-width: 100%!important;
  overflow-x: hidden!important;
  position: absolute;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  background-color: #99D4DE;
  margin-bottom: 10px;
  font-family: Arial;
  font-weight: 600;
  color: white!important;
}
 
.nav.container{
  justify-content: center!important;
}
.home{
  background-color: #83C6DE;
  color: white;
  width: 100%!important;
  height: 100%!important;
  font-family: Arial;
  max-width: 100%!important;
  overflow-x: hidden!important;
  position: absolute;
  text-align: center;
}
.form {
  background-color: #83C6DE;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin-top: 5px;
}
.input {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: white;
  color: black;
  width: 40%;
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}
.label {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-weight: bold !important;
}
.boton {
  background-color: #99D4DE !important;
  color: white;
  border-radius: 10px;
  border-color: white;
  width: 40%;
  height: 50%;
  margin-top: 10px;
}
.errordiv {
  background-color: rgba(241, 4, 4, 0.801);
  margin: 20px;
  border-radius: 10px;
  border-color: rgba(241, 4, 4, 0.801);
  align-content: center;
  vertical-align: middle;
  justify-content: center;
}
.clima {
  margin-top: 20px;
}